<style>
    #post-enc-content {
        width: fit-content;
        margin: 0 auto;
    }
</style>

<script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script>

<script>
    var postContent = '<div id="post-enc-content">' +
        '<p>这是一篇私密文章，输入密码进行解密</p>' +
        '<div style="width: fit-content;margin: auto;">' +
        '<input type="password" class="private-key-input gt-bg-accent-color-second" id="input-pwd" placeholder="请输入密码" />' +
        '<button type="button" class="private-button gt-bg-accent-color-first" id="submitBtn">></button>' +
        '</div>' +
        '</div>';
    document.getElementById('post-content').innerHTML = postContent;
    document.getElementById('submitBtn').addEventListener('click', function () {
        var inputVal = document.getElementById('input-pwd').value;
        var p = CryptoJS.AES.decrypt('<%= post.content %>', inputVal)
        var result = p.toString(CryptoJS.enc.Utf8)
        if (result !== undefined && result !== "") {
            document.getElementById('post-content').innerHTML = result;
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        } else {
            alert("密码错误")
        }
    })
</script>